# Local Terraform state, credentials, and logs
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# .terraform directory
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

*.zip
.vscode